<%-include("layout/header")%>
    <h1>Welcome to the login page</h1>
    <form action="/login" method="post">
        <div>
            <label for="username">username</label>
            <input type="text" id="username" name="username">

        </div>
        <br>
        <br>
        <div>
            <label for="password">password</label>
            <input type="text" id="password" name="password">
        </div>
        <br>
        <br>
        <button type="submit">Login</button>
        <a href="/auth/google">Login with google</a>
    </form>
    
<%-include("layout/footer")%>